/* Font Imports */
@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  margin: 0;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Menu */
/* Menu - Open Button */
.menu-open {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

.menu-open:hover {
  color: #eeff41;
}

/* Menu - Overlay */
.menu-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(../images/backgrounds/sydney-harbour/Sydney-Harbour-Menu-Edited.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  display: none;
}

.menu-overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.menu-overlay a:hover, .menu-overlay a:focus {
  color: #eeff41;
}

.menu-overlay .menu-close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Menu - Navigation */
.menu-navigation {
  font-family: "proxima-nova-bold";
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* Menu - Current Page Highlight */
#menu-home {
  color: #eeff41;
}

/* Menu - Copyright Notice */
#menu-copyright-notice {
  font-family: "proxima-nova-regular";
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

/* Background */
.background-logo-index {
  background-image: url(../images/logo/BR-Large-Logo-Edited.png), url(../images/backgrounds/sydney-harbour/Sydney-Harbour-Edited.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 100%;
}
