/* Font Imports */
@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  margin: 0;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Background */
.background-logo-index {
  background-image: url(../images/logo/BR-Large-Logo-Edited.png), url(../images/backgrounds/sydney-harbour/Sydney-Harbour-Edited.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 100%;
}
